# Node
node_modules/
npm-debug.log
yarn-error.log

# Gradle
.gradle/
build/
.gradletasknamecache

# Android
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
captures/
*.iml
.idea/
.DS_Store
local.properties

# Logs
*.log
app-logcat.txt
log-crash.txt

# Temporal
*.tmp
*.bak
*.swp
*~

# Android Studio
.navigation/
.externalNativeBuild
.cxx/

